
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
}

.wrapper {
    position: relative;
    width: 360px;
    height: 250px;
    margin-top: 150px;
    background-color: rgba(0,0,0,0.1);
    transform: rotate(-30deg) scale(0.8) skew(25deg);
    border-radius: 40%;
}

.wrapper img {
    position: absolute;
    width: 100%;
    height: auto;
}
 
.wrapper img:nth-child(4) {
    transition: 1s all;
}

.wrapper img:nth-child(3) {
    transition: 0.8s all;
}

.wrapper img:nth-child(2) {
    transition: 0.6s all;
}

.wrapper img:nth-child(1) {
    transition: 0.4s all;
}

.wrapper:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.wrapper:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: 0.8;
}

.wrapper:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: 0.6;
}

.wrapper:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: 0.4;
}